
{% extends 'base.html' %}
{% load static %}

{% block content %}
<style type="text/css">
	@media (max-width: 768px) {
		.right-column{
			margin-left: 0px;
		}
	}
	@media (min-width: 768px) {
		.right-column{
			margin-left: 20px;
		}
	}
	.review-post-container{
		margin-bottom: 20px;
		width: 100%;
	}
	.create-post-bar{
		background-color: #fff;
		margin-bottom:20px;
	}
	.left-column{
		padding:0px;
	}
	.right-column{
		padding:0px;
	}
	.lead{
		font-size: 17px;
	}
</style>
<div class="container">
	<div class="row">

		<!-- Review feed -->
			<div class="left-column col-lg-7 offset-lg-1">

				<!-- Top 'Give Review' bar -->
				<div class="d-lg-none mb-3">
					<div class="card m-auto d-flex flex-column p-3">
						<p class="lead">Watched a Movie or an Episode or Played a Game? Review it now!</p>
						<p class="m-auto"><a class="btn btn-primary" href="{% url 'base:select_category' %}">Post a Review</a></p>
					</div>
				</div>
			<!-- end Top 'create post' bar -->

			<div>
				<!-- Movie Reviews -->
				<h1>Movie Reviews</h1>
				<div class="container">
					{% for moviereview in moviereview %}
						<div class="review-post-container">
							{% include 'snippets/home_post_movie_review.html' with moviereview=moviereview %}
						</div>
					{% endfor %}
				</div>

				<!-- Game Reviews -->
				<h1>Game Reviews</h1>
				<div class="container">
					{% for gamereview in gamereview %}
						<div class="review-post-container">
							{% include 'snippets/home_post_game_review.html' with gamereview=gamereview %}
						</div>
					{% endfor %}
				</div>

				<!-- Episode Review -->
				<h1>Episode Reviews</h1>
				<div class="container">
					{% for episodereview in episodereview %}
						<div class="review-post-container">
							{% include 'snippets/home_post_episode_review.html' with episodereview=episodereview %}
						</div>
					{% endfor %}
				</div>

			</div>

		<!-- end feed -->


		<!-- Right 'create post' column  -->
		<div class="right-column col-lg-3 d-lg-flex d-none flex-column">

			<div class="card create-post-bar d-flex flex-column p-3">
				<p class="lead">Watched a Movie or an Episode or Played a Game? Review it now!</p>
				<p class="m-auto"><a class="btn btn-primary" href="{% url 'base:select_category' %}">Post a Review</a></p>
			</div>

		</div>
		<!-- end Right 'create post' column  -->

	</div>
</div>

{% endblock content %}
